{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
  <div style="text-align: center; max-width: 300px; margin: 4rem auto;">
    {#    mb : margin bottom#}
    <div class="mb-4">
      <h4>Sign Up
      </h4>
    </div>
    <form action="{% url 'accountapp:create' %}" method="post">
      {% csrf_token %}
      <!--현재 html을 호출하는 class based view에 등록한 form을 불러온다나ㅡㄴ 것임-->
      {% bootstrap_form form %}
      <input type="submit" class=" btn-primary">
    </form>
  </div>

{% endblock %}