{% extends 'base.html' %}
{% block content %}
    {#    Block 안에 스타일이 있어야 동작을 하는구만#}
    <style>.testing {
        background-color: aliceblue;
        height: 3rem;
        width: 3rem;
        margin: 1rem;
    {#1rem = 16px#}
    }</style>
    <div style="border-radius: 1rem; margin:2rem; text-align: center">
        <h1 style="font-family: 'lobster',cursive;">Hello World List</h1>
        <form action="/account/hello_world/" method="post">
            {% csrf_token %}
            <input type="text" name="hello_world_input">

            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Make POST">
        </form>
        {% if hello_world_output %}
            <h1>
                {#            Use Database value#}
                {{ hello_world_output.text }}
            </h1>
        {% endif %}
    </div>
{% endblock %}