{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div style="text-align: center; max-width: 300px; margin: 4rem auto;">
        <div>
            <h4>Login</h4>
        </div>
        <div>
            <form action="" method="post">
                {% csrf_token %}
                {#                {{ form }}#}
                {#                Below is for boot strap form#}
                {% bootstrap_form form %}
                {#                mt-4 : margin top 이라는 의미#}
                <input type="submit" class="btn btn-dark rounded-pill mt-4 col-12 ">
            </form>
        </div>
    </div>
{% endblock %}