{#마진에 파라미터 숫자 두개를 넣으면 앞에꺼는 상하, 뒤에꺼는 좌우의 마진#}
<div class="pragmatic_header">
    <div class="pragmatic_logo">
        <h1>Pragmatic</h1>
    </div>
    <div>
        <span>nav1</span>
        <span>nav2</span>
        <span>nav3</span>
        {#    로그인 상태라면₩  #}
        {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
                <span>Login</span>
            </a>
        {% else %}
            <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">
                <span>Logout </span>
            </a>
        {% endif %}
        <span>nav4</span>
    </div>
</div>